html {
  font-family: monospace,"Segoe UI", "Times New Roman", Times, serif;
  background-color: #1a1b26;
  color: #ebebeb;
}

body {
  font-size: large;
  padding: 1rem;
  margin: auto;
  max-width: 80vw;
}

/*main {
  margin: auto 5%;
}
*/
a {
  color: #7aa2f7;
}

.home-bttn {
  font-size: larger;
  font-weight:bold;
}
